/*
 *
 * General styling
 *
 */


header, footer, article, section, nav, menu, hgroup {  
   display: block;  
}

body {
    background: #808080;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    padding:0px;
    margin:0px;
}

a:link, a:visited {
    color:maroon;
    text-decoration: none;
}

a:hover, a:active, button:hover, button:focus {
    color:black;
    text-decoration: underline;
}

input[type=text],input[type=password],input[type=email],textarea, select {
    padding: 3px;
    border: solid 1px grey;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;

    background: #FFFFFF left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #F5F5F5), to(#FFFFFF) );
    background: -moz-linear-gradient(top, #FFFFFF, #F5F5F5 1px, #FFFFFF 25px);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px;    
}

input[type=text]:hover,input[type=password]:hover,input[type=email]:hover, textarea:hover,
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus, textarea:focus {
    border-color: #99CCFF;
    box-shadow:  #99CCFF 0px 0px 10px;
    -moz-box-shadow:  #99CCFF 0px 0px 10px;
    -webkit-box-shadow: #99CCFF 0px 0px 10px;
}

input[type=submit], input[type=button], button {
    padding: 3px;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
}

button {
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}

/*
*
* Header & menu
*
*/

header#lcc_header {
    height:220px;
    width:898px;
    position:relative;
    margin: 0px auto;
    background-position: center top;
    background: #FFFFFF url("/images/header.gif");
    box-shadow: 3px 0px 7px #202020, -3px 0px 7px #202020;
    -moz-borderbox-shadow: 3px 0px 7px #202020, -3px 0px 7px #202020;
    -webket-borderbox-shadow: 3px 0px 7px #202020, -3px 0px 7px #202020;
}

nav {
    position:absolute;
    bottom:0px;
    width:898px;
    margin: 0px;
}

nav ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

nav li {
    display:inline;
    float:left;
    text-align:center;
}

nav li a {
    display:block;
    width:178px;
    height:20px;
    padding-top:4px;
    border-style: solid;
    border-width: 1px;
    border-color: #424242 #424242 #424242 #7B7B7B;
}

nav li:first-child a{
    border-left:none;
}

nav li:last-child a {
    border-right:none;
}

nav li a:link, nav li a:visited {
    background-color:#565656;
    color:white;
}

nav li a:hover, nav li a:active {
    background-color:black;
    color:white;
    text-decoration:none;
}

#login-open, #welcome {
    position: absolute;
    top: 5px;
    right: 10px;
}

#login-win {
    color: white;
    width: 250px;
    background: #565656;
    border: solid black 1px;
    position: absolute;
    padding: 20px 10px 10px 10px;
    top: -10px;
    right: 10px;
    -moz-border-radius: 10px;  
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 1;
}

#login-close {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    display: none; 
}

#user-close {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

#login-error {
    text-align: center;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
}

label.error {
    color: blue;
    font-style: italic;
    display: inline-block;
}

#contactFormMessage {
    text-align:center;
    margin:5px;
}

/*
*
* Main section
*
*/

div.modal {
    top: 30px;
    left: 0px;
    height: auto;
    position:absolute;
    z-index: 1000;
    width: 800px;
}

section {
    margin: 0px auto;
    width: 878px;
}

section, div.modal {
    padding: 10px;
    background: #f3f2f2;
    box-shadow: 3px 0px 7px #202020, -3px 0px 7px #202020;
    -moz-borderbox-shadow: 3px 0px 7px #202020, -3px 0px 7px #202020;
    -webket-borderbox-shadow: 3px 0px 7px #202020, -3px 0px 7px #202020;
}

article {
    display:table-cell;
    padding-right: 10px;
}

aside {
    display:table-cell;
    -moz-border-radius: 22px;  
    -webkit-border-radius: 22px;
    border-radius: 22px;
    -webkit-box-shadow: 3px 3px 7px #777;
    -moz-box-shadow: 3px 3px 7px #777;
    box-shadow: 3px 3px 7px #777;
    -moz-borderbox-shadow: 3px 0px 7px #202020, -3px 0px 7px #202020;
    -webket-borderbox-shadow: 3px 0px 7px #202020, -3px 0px 7px #202020;
    background-color:#dfdfdf;
    width: 225px;
    padding-top:10px;
    padding-left: 10px;
    padding-bottom:10px;
}

article img {
    -webkit-box-shadow: 3px 3px 7px #777;
    -moz-box-shadow: 3px 3px 7px #777;
    box-shadow: 3px 3px 7px #777;
    margin: 5px 10px 5px 5px;
}

#pic1 {
    position: relative;
    left: -60px;
}

#pic2 {
    float:left;
}

.header {
    font-size:12px;
    font-weight:bold;
}

#paypal {
    margin-top:15px;
    text-align:center;
    margin-bottom:0px;
 }

 .greybox {
    margin-left:auto;
    margin-right:auto;
    -moz-border-radius: 22px;  
    -webkit-border-radius: 22px;
    border-radius: 22px;
    -webkit-box-shadow: 3px 3px 7px #777;
    -moz-box-shadow: 3px 3px 7px #777;
    box-shadow: 3px 3px 7px #777;
    background-color:#dfdfdf;
    width:825px;
    padding:10px;
 }
 
 #contactform {
    margin-left:auto;
    margin-right:auto;
    width:800px;
 }
 
 #about_pic {
     float:right;
     width: 20%;
     margin-top: 10px;
     margin-right: 30px;
     margin-left: 10px;
 }

.resultsTable {
    width: 100%;
    text-align:center;
    vertical-align:top;
    border-collapse: collapse;
    padding: 2px;
}

.resultsTable thead, div.modal_header {
    background: #565656;
    color: white;
}

div.modal_header {
    text-align:center;
    width: 100%;
    padding: 10px 0px;
}

.resultsTable tbody tr:nth-child(even) {
    background: #BABABA;
}

#ma-links {
    text-align:center;
    padding: 10px 0px;
}

/*
 * Footer
 */
 
footer#lcc_footer {
    width: 898px;
     position: relative;
     margin: 0px auto;
     height: 50px;
     background-color: #373737;
     text-align: center;
     color: white;
     box-shadow: 3px 0px 7px #202020, -3px 0px 7px #202020;
     z-index: -1;
 }
