<article class="lcc_article">
    <img src="images/pic2.png" id="pic2"><br>
    The Lakeshore Community Chorus, an adult non-profit organization located in the Saugatuck/Douglas region of Western Michigan, is dedicated to the performance of varied choral music for the benefit, education and enjoyment of its members and surrounding lakeshore communities.<br><br>

    Our chorus is thrilled to be able to perform at various venues throughout our area. We offer a concert at the end of our two sessions every year and sing at a variety of local functions as well. If your group is looking for musical entertainment, please use our Contact Us page to request more information.<br><br>
    <img src="images/pic1.png" id="pic1">
</article>
<aside>
    <span class="header">Join Our Mailing List</span><br>
    We have event emailings approximately 2-3 times a year which contain details about our upcoming performances. Sign up to receive information, concert dates, and other current news.<br><br>

    <form name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post" style="margin-bottom:2;">
        <input type="hidden" name="llr" value="hgpvyaiab">
        <input type="hidden" name="m" value="1108127431879">
        <input type="hidden" name="p" value="oi">
        Email: <input type="email" name="ea" size="20" placeholder="johnsmith@email.com">
        <div style="margin-top:5px;margin-bottom:5px">
            <input type="submit" name="go" value="Go" id="go">
            <img src="https://imgssl.constantcontact.com/ui/images1/safe_subscribe_logo.gif" width="168" height="14" alt=""/>
        </div>
    </form>
    <br><br>
    <span class="header">Make a Donation</span><br>
    In our efforts to bring music to our communities, we rely on the generosity of many. Please consider supporting us.
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="U6T4FK6CNMG5N">
        <div id="paypal"><input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" name="submit" style="background:none;" alt="PayPal - The safer, easier way to pay online!"></div>
        <img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <small>Lakeshore Community Chorus is a registered 501(c)3 nonprofit organization and your gift is tax deductible.</small>
</aside>
